.coming-soon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    max-width: 100%;
    /* Limitar el ancho máximo */
    justify-content: center;
    /* Centrar el contenedor */
    max-width: 100%;
    /* Asegúrate de que no exceda el ancho de la pantalla */
}


.coming-soon-container.light {
    background-color: #f0f0f0;
    color: #000;
}

.coming-soon-container.dark {
    background-color: #333;
    color: #fff;
}

.theme-toggle {
    margin: 20px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.theme-toggle.active::before {

    transform: translate(-50%, -50%) scale(1);
    /* Expandir al hacer clic */

}

@media (max-width: 768px) {
    .coming-soon-container {
        padding: 15px;
        /* Menos padding en pantallas más pequeñas */
    }

    .theme-toggle {
        font-size: 14px;
        /* Tamaño de fuente más pequeño */
    }

    .flip-clock {
        flex-direction: column;
        /* Cambiar a columna en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .coming-soon-container {
        padding: 10px;
        /* Aún menos padding */
    }

    .theme-toggle {
        padding: 8px 8px;
        /* Ajustar el padding del botón */
        font-size: 12px;
        /* Tamaño de fuente más pequeño */
    }

    .flip-clock {
        font-size: 36px;
        /* Tamaño de fuente más pequeño para el reloj */
    }

}

.logo {
    display: flex;
    width: 20em;
    /* max-width: 100%; Asegúrate de que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    margin-bottom: 20px; /* Espaciado debajo de la imagen */
    justify-content: center;
    align-items: center;
}