.coming-soon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    max-width: 100%;
    padding: 30px;
    gap: 20px;
}
.flip-clock {
    --fcc-flip-duration: 0.5s; /* transition duration when flip card */
    --fcc-spacing: 8px; /* space between unit times and separators */
    --fcc-digit-block-width: 2em; /* width of digit card */
    --fcc-digit-block-height: 3em; /* height of digit card, highly recommend in even number */
    --fcc-digit-block-radius: 5px; /* border radius of digit card */
    --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
    --fcc-digit-font-size: 30px; /* font size of digit */
    --fcc-digit-color: #a8a8a8; /* color of digit */
    --fcc-label-font-size: 1rem; /* font size of label */
    --fcc-label-font-weigth: 500; /* color of label */
    --fcc-divider-color: #a8a8a8; /* color of divider */
    --fcc-divider-height: 1px; /* height of divider */
    --fcc-separator-size: 6px; /* size of colon */
    --fcc-separator-color: #a8a8a8; /* color of colon */
  }

.logo {
    display: flex;
    width: 24em;
    height: auto;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}


/* Tablets y pantallas medianas */
@media (max-width: 768px) {
    .coming-soon-container {
        padding: 20px;
        gap: 15px;
    }

    .flip-clock {
        --fcc-flip-duration: 0.5s; /* transition duration when flip card */
        --fcc-spacing: 8px; /* space between unit times and separators */
        --fcc-digit-block-width: 1em; /* width of digit card */
        --fcc-digit-block-height: 2em; /* height of digit card, highly recommend in even number */
        --fcc-digit-block-radius: 5px; /* border radius of digit card */
        --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
        --fcc-digit-font-size: 20px; /* font size of digit */
        --fcc-digit-color: a8a8a8; /* color of digit */
        --fcc-label-font-size: 1rem; /* font size of label */
        --fcc-label-font-weigth: 500; /* color of label */
        --fcc-divider-color: a8a8a8; /* color of divider */
        --fcc-divider-height: 1px; /* height of divider */
        --fcc-separator-size: 6px; /* size of colon */
        --fcc-separator-color: #a8a8a8; /* color of colon */
      }    

    .logo {
        width: 16em;
    }
}

/* Teléfonos móviles */
@media (max-width: 480px) {
    .coming-soon-container {
        padding: 15px;
        gap: 10px;
    }

    .flip-clock {
        --fcc-flip-duration: 0.5s; /* transition duration when flip card */
        --fcc-spacing: 8px; /* space between unit times and separators */
        --fcc-digit-block-width: 1em; /* width of digit card */
        --fcc-digit-block-height: 2em; /* height of digit card, highly recommend in even number */
        --fcc-digit-block-radius: 5px; /* border radius of digit card */
        --fcc-digit-block-spacing: 5px; /* space between blocks in each unit of time */
        --fcc-digit-font-size: 20px; /* font size of digit */
        --fcc-digit-color: a8a8a8; /* color of digit */
        --fcc-label-font-size: 1rem; /* font size of label */
        --fcc-label-font-weigth: 500; /* color of label */
        --fcc-divider-color: a8a8a8; /* color of divider */
        --fcc-divider-height: 1px; /* height of divider */
        --fcc-separator-size: 6px; /* size of colon */
        --fcc-separator-color: #a8a8a8; /* color of colon */
      }    


    .logo {
        width: 14em;
    }
}
